[user]
	name = Robert Broomandan
	email = rbroomandan@gmail.com
[alias]
	ad = add -A
	br = checkout -b
	db = branch -D
	cc = !git checkout$(git rev-parse --show-toplevel)&& git clean -fd$(git rev-parse --show-cdup)
	ccc = !git checkout$(git rev-parse --show-toplevel)&& git clean -fdx$(git rev-parse --show-cdup)
	cf = cat-file -p
	ch = diff --name-status -r
	ac = !git add -A$(git rev-parse --show-cdup)&& git commit -av
	co = checkout
	cp = cherry-pick
	df = diff
	dt = difftool
	dw = difftool --tool=winmerge
	ds = diff --staged
	dv = difftool --tool=vimdiff
	fw = log --follow
	gb = gui blame
	last = log -p -1 HEAD
	ld = log -p
	lf = ls-files -s
	lg = log --color --follow --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(cyan)<%an>%Creset' --abbrev-commit
	lo = log --color --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(cyan)<%an>%Creset' --abbrev-commit
	lr = ls-remote
	ls = log --decorate --pretty=oneline --stat
	lt = !git --no-pager log --color --decorate --pretty=format:'%Cred%h%Creset %C(cyan)%an%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)' --abbrev-commit -30 && git --no-pager log --pretty=format:'%n' -1
	mg = merge --no-ff
	ms = checkout master
	po = push origin
	pr = pull --rebase
	rf = rm -f
	rh = reset HEAD --
	rr = rm -r
	rs = rm --cached
	so = stash pop
	st = status
	su = stash
	undo = reset --hard HEAD~
[core]
	editor = vim
	excludesfile = ~/.gitignore
	autocrlf = true
[mirror]
	summary = true
[branch]
	autosetupmerge = true
[help]
	autocorrect = 1
[push]
	default = matching
[color]
	ui = auto
	branch = auto
	status = auto
	diff = auto
[color "diff"]
	meta = yellow
	frag = cyan
	old = red
	new = green
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "status"]
	added = magenta
	changed = green
	untracked = cyan
[github]
	user = broomandan
[difftool]
	prompt = false
[mergetool]
	prompt = false
	keepBackup = false
	keepTemporaries = false
[merge]
	tool = BeyondCompare4
	guitool = Beyondcompare4
[mergetool "winmerge"]
	name = WinMerge
	trustExitCode = true
	cmd = ~/winmerge-merge.sh $LOCAL $REMOTE $BASE $MERGED
[diff]
	tool = beyondcompare4
	guitool = beyondcompare4
[difftool "bc4"]
	path = C:/Program Files (x86)/Beyond Compare 4/bcomp.exe
[push]
	default = simple
[credential]
	helper = !\\\"C:/Program Files (x86)/GitExtensions/GitCredentialWinStore/git-credential-winstore.exe\\\"
[difftool "beyondcompare4"]
	path = C:/Program Files (x86)/Beyond Compare 4/BComp.exe
	cmd = \"C:/Program Files (x86)/Beyond Compare 4/BComp.exe\" \"$LOCAL\" \"$REMOTE\"
[mergetool "BeyondCompare4"]
	path = C:/Program Files (x86)/Beyond Compare 4/BComp.exe
	cmd = \"C:/Program Files (x86)/Beyond Compare 4/BComp.exe\" \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
